<section class="hero module hero--dark image-container">
  <div class="hero__image spinner-alto">
      {{ image }}
  </div>
  <div class="hero__container module__container">
    <div class="hero__wrap">
      <div class="hero__content animated fadeInDown">
        <div class="{{ content.field_category.class }} hero__label hero__label--top label">
            {{ category }}
        </div>
        <div>
          <h1>{{ title }}</h1>
        </div>
        <div class="hero__description">
          {{ body }}
        </div>
        <div class="hero__sub-content">
          POSTED ON<br> {{ posted_date }}
        </div>
      </div>
    </div>
  </div>
</section>